/*=Footer
---------------------------------------------------------------------*/
.site-footer {
    padding-top: 10px;
    padding-bottom: 10px;
    // footer styles
    background-color: $light-gray;
    .copyright{
        text-align:center;
        margin-bottom: 0;
        @include breakpoint(medium) {
            text-align: left;
        }
    }
    
}
.medium-align-right{
    @include breakpoint(medium) {
        justify-content: flex-end;
    }
}
.medium-align-left{
    @include breakpoint(medium) {
        justify-content: flex-start;
    }
}
