/*=Header
---------------------------------------------------------------------*/
.site-header {
    position: fixed;
    width: 100%;
    .site-title{
        font-size: 22px;
        color: #0c0c0c;
        &.hide-title{
            display: none;
        @include breakpoint(medium) {
            display: block;
        }
        }
    }
    .mobile-menu{
        @include breakpoint(medium) {
            display: none;
        }
    }
    .primary-nav{
        display:none;
        @include breakpoint(medium) {
            display: flex;
        }
        li{
            a{
                color: #0c0c0c;
            }
        }
    }
    .title-bar{
        background-color: $light-gray;
        .menu-hamburguer{
            font-size: 25px;
        }
    }
}

