.social-icons{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100%;
    margin-top: 10px;

    @include breakpoint(medium) {
        justify-content: flex-end;
        margin-top: 0;
    }
    a{
        display: inline-block;
        color: #0c0c0c;
        margin: 0 5px 0 5px;
        i{
            font-size: 26px;
        }
    }
}