/*=Layout
---------------------------------------------------------------------*/

// Container class
// container.container--large
.container {
	@include xy-grid-container;

	@each $breakpoint-name, $breakpoint in $breakpoints {
		&--#{$breakpoint-name} {max-width: $breakpoint}
	}
	// @include m(full) {max-width: 100%};
	&--full {@include max-width-100;}
}
.content-wrap{
	padding-top:80px;
	min-height: 350px;
}